{% extends 'anime_app/modelo.html' %}

{% block title %}Episódio {{ episode.episode_number }} - {{ episode.anime.title }} - Anime Fire{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1 class="text-center">{{ episode.anime.title }} - Episódio {{ episode.episode_number }}: {{ episode.title }}</h1>
    <div class="row">
      <div class="col-md-12">
        <p><strong>Lançamento:</strong> {{ episode.release_date }}</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{ episode.video_url }}" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
