{% extends 'modelo.html' %}

{% block title %}Início - Anime Fire{% endblock %}

{% block content %}
   <!-- Layout com o carrossel à esquerda e a lista à direita -->
   <section class="container my-5">
    <div class="row">
      <!-- Carrossel (lado esquerdo) -->
      <div class="col-md-6">
        <h2 class="text-center mb-4">Lançamentos</h2>
        <div id="animeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="alinhar">
                <img src="img/anime_3.webp" class="d-block w-100">
              </div>  
            </div>
            <div class="carousel-item">
              <div class="alinhar">
                <img src="img/dragonball-novidades.webp" class="d-block w-100">
              </div>
            </div>
            <div class="carousel-item">
              <div class="alinhar">
                <img src="img/anime_1.webp" class="d-block w-100">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#animeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#animeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- Lista de Animes Populares (lado direito) -->
      <div class="col-md-6">
        <h2 class="text-center mb-4">Animes Populares</h2>
        <section class="populares-container">
          <ol class="populares-list">
            <li><strong> - Attack on Titan</strong></li>
            <li><strong> - Demon Slayer</strong></li>
            <li><strong> - One Piece</strong></li>
            <li><strong> - Jujutsu Kaisen</strong></li>
            <li><strong> - My Hero Academia</strong></li>
            <li><strong> - Tokyo Revengers</strong></li>
            <li><strong> - Sword Art Online</strong></li>
            <li><strong> - Hunter x Hunter</strong></li>
            <li><strong> - Black Clover</strong></li>
            <li><strong> - Fullmetal Alchemist: Brotherhood</strong></li>
          </ol>
        </section>
      </div>
    </div>
  </section>
  
 
    <!-- Container para os animes -->
    <div id="anime-container" class="row mt-4"></div>

    <!-- Paginação -->
    <nav id="pagination" aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center"></ul>
    </nav>
{% endblock %}
