{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <!-- Link para o CSS do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

  <div class="form-container">
    <h2>Login</h2>
    <!-- Formulário com método POST e CSRF Token -->
    <form method="POST" id="loginForm">
      {% csrf_token %}
      
      <!-- Renderização do formulário do Django -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" required placeholder="Digite seu e-mail">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" name="password" class="form-control" id="password" required placeholder="Digite sua senha">
      </div>
      <button type="submit" class="btn btn-danger">Entrar</button>
    </form>

    <div class="form-footer">
      <p>Não tem uma conta? <a href="{% url 'register' %}" class="btn-link">Registre-se</a></p>
    </div>
  </div>

  <!-- Scripts do Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

</body>
</html>
